* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@mixin font($fontSize, $lineHeight, $color, $fontWeight){
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-weight: $fontWeight;
}
@keyframes appear {
    0% {opacity: .8;}
    100% {opacity: 1;}
}
.slideAppear{
    animation: appear 1s;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
}
.active{
    border-color: rgba(255, 255, 255, 1);
}
.inactive{
    border-color: rgba(255, 255, 255, 0.4);
}

/*header*/

.header{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;

    &__top {
        border-bottom: 1px solid rgba(0, 0, 0, .08);
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        column-gap: 24px;
        padding: 16px 0;
    }
    &__logo{
        display: flex;
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__contact{
        display: flex;
        column-gap: 24px;

        &-desk{
            display: flex;
            column-gap: 8px;
            align-items: center;
        }
    }
    &__text{
        @include font(14px, 24px, rgba(0, 0, 0, 1), 400);
        box-sizing: border-box;
        transition: all .3s linear;
    }
    .text-link:hover{
        color: rgba(0, 0, 0, .5);
    }
    &__actions{
        display: flex;
        column-gap: 24px;

        &-desk{
            display: flex;
            column-gap: 8px;
            align-items: center;
            text-decoration: none;
        }
    }
}
/*banner*/
.banner{
    margin-bottom: 48px;
    &__slider{
        position: relative;
    }
    &__slide-first{
        background: url(../img/breakfast.png) center/cover no-repeat;
    }
    &__slide-second{
        background: url(../img/lunch.jpg) center/cover no-repeat;
        display: none;
    }
    &__slide-third{
        background: url(../img/dinner.jpg) center/cover no-repeat;
        display: none;
    }
    &__slide{
        padding: 120px 0px 164px 80px;
        border-radius: 16px;
    }
    &__title{
        @include font(48px, 59px, #FFF, 900);
        text-transform: capitalize;
        margin-bottom: 14px;

    }
    &__text{
        @include font(16px, 20px, #FFF, 600);
        text-transform: lowercase;
        margin-bottom: 39px;
    }
    &__button{
        max-width: 222px;
        width: 100%;
        @include font(20px, 24px, #FFF, 600);
        text-transform: capitalize;
        background-color: #E25324;
        border: none;
        border-radius: 100px;
        padding: 20px 10px;
        cursor: pointer;
    }
    &__pagination{
        display: flex;
        column-gap: 8px;
        position: absolute;
        top:444px;
        left: 458px;
    }
    &__line{
        width:148px;
        border-width: 2px;
        border-style: solid;
        cursor: pointer;
        border-radius: 100px;
    }
}
.main{
    &__nav{
        margin: 73px 0 24px;
        &-list{
            display: flex;
            list-style-type: none;
            justify-content: center;
            column-gap: 8px;
        }
        &-item{
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            border-radius: 100px;
            background-color: rgba(0, 0, 0, .04);
            transition: all .3s linear;
            &:hover{
                background-color: rgba(0, 0, 0, .09);
            }
        }
        &-link{
            @include font(14px, 24px, rgba(0, 0, 0, 1), 400);
            text-decoration: none;
        }
    }
}

.items {
    margin-bottom: 33px;
    // margin-top: 32px;
    &__menu{
        margin-bottom: 32px;
    }
    &__list{
        display: flex;
        align-items: center;
        text-align: center;
        list-style-type: none;
        justify-content: space-between;
        column-gap: 40px;
        border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    }
    &__element{
        position: relative;
        max-width: 162px;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 2px solid transparent;
        &::after {
            position: absolute;
            content: '';
            bottom: -4px;
            left:0;
            display: block;
            width: 0;
            height: 2px;
            background: rgba(226, 83, 36, 1);
            transition: .3s;
        }
        &:hover:after {
            width: 100%;
        }
    }
    &__link{
        @include font(14px, 24px, #000, 500);
        text-transform: uppercase;
        text-decoration: none;   
    }

    
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        column-gap: 28px;
        row-gap: 28px;
    }

    &__icon {
        display: flex;
        position: relative;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 100px 24px 24px 100px;
        max-width: 437px;
    }

    &__wrapper-img {
        margin-right: 16px;
        border-radius: 50%;
    }

    &__img {
        margin-top: 8px;
        margin-left: 8px;
        border-radius: 50%;
    }

    &__content {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__weight {
        @include font(13px, 24px, rgba(0, 0, 0, 0.32), 600);
        margin-bottom: 8px;
    }

    &__title {
        @include font(20px, 24px, rgba(0, 0, 0, 1), 600);
        margin-bottom: 44px;
    }

    &__price {
        @include font(28px, 48px, rgba(226, 83, 36, 1), 600);
    }

    &__wrapper-like {
        border: none;
        cursor: pointer;
        position: absolute;
        left: 397px;
        top: 16px;
        background: none;

        path{
            fill: rgba(217, 217, 217, 1);
        }

        &:hover {
            path{
                fill: rgba(226, 83, 36, 1);
                transition: all .3s ease 0s;
            }
        }
        
        
    }

    .like__button {
        path{
            fill: rgba(226, 83, 36, 1);
        }
    }

    &__ellipse-btn {
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        left: 370px;
        top: 116px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid transparent;
        transition: all .3s ease 0s;

        &:hover {
            border: 1px solid rgba(226, 83, 36, 1);

            path{
                transition: all .3s ease 0s;
            }
        }
        &:active {
            border: 1px solid rgb(7, 240, 57);

            path{
                fill: rgb(7, 240, 57);
                transition: all .3s ease 0s;
                
            }
        }
    }

    &__wrapper-cart {
        padding: 12px 14px;
    }
}
.disable {
    display: none;
}
.active {
    display: block;
}